<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" media="screen" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-+OBCyYhoWv6cX5q9/2j8luR9DVM2Xg3g2oOl1Y6Y5oHR9bybfE9KbX9qE2Mxj8wVoXQyFU8Rgm+zcDeMQrrIiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif  %}

    
    {% block content %}
    {% endblock %}
</body>
</html>